<h1>Details</h1>

<p><%=@post.name%></p>
<p><%=@post.description%></p>
<p>
  <% @post.categories.each do |c| %>
    <%=c.name%>    
  <%end%>
</p>

 <div class='post-comments-section'>
    <%= render partial: 'comments/comment', collection: @post.comments %>
    <%= form_for(@post.comments.new, url: post_comments_path(@post)) do |form| %>
      <%= form.text_field :body, id: :comment_body, class: 'form-control', placeholder: 'Add new Comment' %>
      <%= form.submit 'Comment', class: 'btn btn-secondary' %>
    <%end%>
 </div>

  <div class='post-liking'>
      <span class='post-date'> <%= @post.created_at.strftime("%Y/%m/%d") %> </span>
      <%= like_or_dislike_btn(@post) %>
    </div>
